*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background-color: #141414;
  font-family: 'Open Sans', sans-serif;
}

.featured{
  height: 100vh;
  width: 100%;
  padding-bottom: 200px;
}

.lists{
  margin-top: -20vh;
}

footer{
  padding: 60px;
  text-align: center;
  color: #888;
}

footer a{
  color: #b5b5b5;
}

footer a:hover{
  color: #fff;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: hidden;
  transition: all ease .2s;
}

@media(max-width: 760px){

  .lists{
    margin-top: -19vh;
  }

  footer{
    padding: 40px;
    font-size: 14px;
  }
  
}